# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=dealership
POSTGRES_USER=seu_usuario_local
POSTGRES_PASSWORD=sua_senha_local_segura

# Credenciais de Administração do MinIO (Local)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Configurações do S3/MinIO para a Aplicação
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=vehicles-images
